.slide {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 450px;
}

.swiper-container {
  height: 268px;
}

.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: transparent;
  border: 1px solid #68b8ff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 20px;
  height: 6px;
  transition: width 0.5s;
  border-radius: 5px;
  background: #68b8ff;
  border: 1px solid transparent;
}